@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ededed;
  --color-ring: var(--color-amber-300);

  --animate-fade-in: fade-in 1000ms ease-out both;

  --animate-accordion-down: accordion-down 0.13s ease-in;
  --animate-accordion-up: accordion-up 0.13s ease-in;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes accordion-down {
    from {
      height: 0px;
      opacity: 0;
      filter: blur(5px);
    }
    to {
      height: var(--radix-collapsible-content-height);
      opacity: 1;
      filter: blur(0px);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-collapsible-content-height);
      opacity: 1;
      filter: blur(0px);
    }
    to {
      height: 0px;
      opacity: 0;
      filter: blur(5px);
    }
  }
}

@layer base {
  .h-screen-safe {
    height: 100%;
    height: 100vh;
    height: 100dvh;
  }

  body {
    @apply bg-background text-foreground font-sans;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  @media (pointer: fine) {
    html {
      cursor:
        url("/cursor-dot.svg") 4 4,
        auto;
    }

    a[href],
    button,
    summary,
    [role="button"],
    [role="link"],
    .cursor-pointer,
    input[type="button"],
    input[type="submit"],
    input[type="reset"] {
      cursor:
        url("/cursor-dot-pointer.svg") 6 6,
        pointer;
    }
  }

  /* For WebKit browsers (Chrome, Safari) */
  ::-webkit-scrollbar {
    width: 10px; /* width of the scrollbar */
  }

  ::-webkit-scrollbar-track {
    background: #1e1e1e; /* color of the track */
  }

  ::-webkit-scrollbar-thumb {
    background: #555; /* color of the scrollbar handle */
    border-radius: 10px; /* rounded corners */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #888; /* color of the handle on hover */
  }

  /* For Firefox */
  html {
    color-scheme: dark;
    background-color: #000000;
    scrollbar-width: thin; /* width of the scrollbar */
    scrollbar-color: #555 #1e1e1e; /* handle color, track color */
  }
}
