@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  @media (pointer: fine) {
    html {
      cursor:
        url("/cursor-dot.svg") 4 4,
        auto;
    }

    a[href],
    button,
    summary,
    [role="button"],
    [role="link"],
    .cursor-pointer,
    input[type="button"],
    input[type="submit"],
    input[type="reset"] {
      cursor:
        url("/cursor-dot-pointer.svg") 6 6,
        pointer;
    }
  }

  /* For WebKit browsers (Chrome, Safari) */
  ::-webkit-scrollbar {
    width: 10px; /* width of the scrollbar */
  }

  ::-webkit-scrollbar-track {
    background: #1e1e1e; /* color of the track */
  }

  ::-webkit-scrollbar-thumb {
    background: #555; /* color of the scrollbar handle */
    border-radius: 10px; /* rounded corners */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #888; /* color of the handle on hover */
  }

  /* For Firefox */
  html {
    scrollbar-width: thin; /* width of the scrollbar */
    scrollbar-color: #555 #1e1e1e; /* handle color, track color */
  }
}
